
/* BASIC LOOK */

body{
    background-color: black;
    background-image: linear-gradient(to right, rgb(41, 37, 37) , rgb(8, 8, 6));
    color: white;
    font-family: helvetica;
    
    font-size: 40px;
    filter: drop-shadow(5px 5px 3px #36364d);

}

#version{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 20px;
}

#main-header{
    text-align: center;
    font-size: 40px;
    height: 40px;
    background: -webkit-linear-gradient(#eee, rgb(166, 190, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
}
#output{
    height: 20px;
}



/* BOARD */
#board table{
    touch-action: none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
.cell{
    --font-size: 60px;
    --small-font-size: 30px;
    
    position: relative;
    width: 100px;
    height: 100px;
    padding: 15px;
}
#board tr{
    width: 100px;
    height: 100px;
}
.boardButton{
    position: relative;
    height: 100%;
    width:  100%;
    border-radius: 10px;
    background-color: rgb(70, 68, 68);
    color: white;
    user-select: none;
    border: 0px;
    text-transform: capitalize;
    text-align: center;

    font-size: 50px;
}
.allWereFound{
    background-color: rgba(27, 27, 27, 0.719);
    color: white;
    z-index: 0;
}
.selected{
    background-color: gray;
    border-radius: 10px;
    
}

.button-letter{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: var(--font-size);   
    color: rgb(255, 255, 255);
}
.button-start{
    position: absolute;
    right: 5%;
    top: 0%;
    font-size: var(--small-font-size);   
    color: red;
}
.button-use{
    position: absolute;
    bottom: 0%;
    left: 5%;
    font-size: var(--small-font-size);
    color: green;
}



/* OUTPUT */
#output{
    text-align: center;
}
/* score */
#score{
    text-align: center;
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    
}
#score-bar-background{
    background-color: rgb(204, 218, 218);
    height: 20px;
    border-radius: 5px;
    
}
#score-bar{
    background-color: rgb(26, 88, 223);
    height: 20px;
    border-radius: 5px;
}


/* found words */
#found{
    position: fixed;
    border-radius: 10px;
    outline: outset 5px white;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 800px;
    z-index: 1;
    
    background-color: #36364d;
}


#found-header{
    text-align: center;
    height: 150px;
}

/* */
#found-words{
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 500px;
    width: 80%;
    outline: solid 2px;
    outline-color: rgb(253, 253, 253);

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}


#found-words::-webkit-scrollbar {
    display: none;
}

.foundWord{

}

.foundWord-letterHeader{
    left: 20px;
    font-size: 30px;
    text-decoration: underline;
    
}

.foundWord-words{
    left: 50px;
    font-size: 20px;
}

.foundWord-missing{
    left: 50px;
    font-style: italic;
    font-size: 20px;
}

#found-exit{
    text-align: center;
}

/* LINE */
#line{
    
}


/* MENU */
#menu{
    position: relative;
    align-content: center;
    background-color: rgb(129, 127, 255);
    height: 40px;

}

/* INDEX SELECTOR */
#index-selector{
    position: relative;
    left: 0px;
    top: -5px;
    font-size: 30px;
    height: 40px;
    color: aliceblue;
    background-color: rgb(24, 4, 114);
    
    z-index: 0;
}

