
/* BASIC LOOK */

body{
    background-color: black;
    background-image: linear-gradient(to right, rgb(41, 37, 37) , rgb(8, 8, 6));
    color: white;
    font-family: helvetica;
    
    font-size: 40px;
    

    /*COLOR PALLETE*/
    --color1: #03045E;
    --color2: #023E8A;
    --color3: #0077B6;
    --color4: #0096C7;
    --color5: #00B4D8;
    --color6: #48CAE4;
    --color7: #90E0EF;
    --color8: #ADE8F4;
    --color9: #CAF0F8;
    --font-color-ondark:white;
    --font-color-onlight:black;


}

/* TITLE */
#version{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 20px;
    user-select: none;
}

#main-header{
    position: relative;
    text-align: center;
    font-size: 40px;
    background: -webkit-linear-gradient(#eee, rgb(166, 190, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 100;
    user-select: none;
    filter: drop-shadow(5px 5px 3px #36364d);
    
}



/* MENU */

#menu{
    position: relative;
    height: fit-content;
    text-align: center;
    --menu-height: 60px;
    height: var(--menu-height);
    width: 100%;
    left: 0px;
    z-index: 1;
}

#menu-line{
    position: absolute;
    background-color: rgb(2, 0, 131);

    bottom: 0px;
    width: 100%;
    height: 5px;
    
}


.menu-button{
    position: relative;
    width: fit-content;
    height: calc(var(--menu-height) - 30px);
    padding-left: calc(var(--menu-height)/2);
    padding-top: calc(var(--menu-height)/20);
    padding-right: calc(var(--menu-height)/2);
    padding-bottom: calc(var(--menu-height)/20);
    border-radius: calc(var(--menu-height)/4);
    font-size: 30px;
    line-height: calc(var(--menu-height) - 30px);
    color: aliceblue;
    background-color: var(--color2);
    text-decoration: none;
    text-align: center;
    display: inline-block;

}

.menu-button:hover{
    background-color: rgb(49, 33, 105);
}

.selectedTab-button{
    background-color: var(--color3);
}

a:visited{
    text-decoration: none;
}
a{
    text-decoration: none;
}

/* GAME */

#game{
    position: relative;
}



/* board */
#board{
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 5px 3px #36364d);
}
#board #table{
    width: fit-content;
    position: relative;
    touch-action: none;
    margin-left: auto;
    margin-right: auto;
    
}
.row{
    display: block;
}
.cell{
    --cellSize: 90px;
    --font-size: 60px;
    --small-font-size: 30px;
    
    position: relative;
    width: var(--cellSize);
    height: var(--cellSize);
    padding: 15px;

    
}
#board tr{
    position: relative;
    width: var(--cellSize);
    height: var(--cellSize);
}
.boardButton{
    position: relative;
    height: 100%;
    width:  100%;
    border-radius: 10px;
    background-color: rgb(70, 68, 68);
    color: white;
    user-select: none;
    border: 0px;
    text-transform: capitalize;
    text-align: center;
}
.allWereFound{
    background-color: rgba(27, 27, 27, 0.719);
    color: white;
    z-index: 0;
}
.selected{
    background-color: gray;
    border-radius: 9px;
    height: 95%;
    width: 95%;
    
}

.button-letter{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    text-align: center;
    font-size: var(--font-size);   
    color: rgb(255, 255, 255);
    line-height: var(--cellSize);
}
.button-start{
    position: absolute;
    right: 5%;
    top: 0%;
    font-size: var(--small-font-size);   
    color: red;
}
.button-use{
    position: absolute;
    bottom: 0%;
    left: 5%;
    font-size: var(--small-font-size);
    color: green;
}



/* output */
#output{
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    line-height: 20px;
}

/* score */
#game #score{
    position: relative;
    text-align: center;
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    
}
#score-bar-background{
    position: relative;
    background-color: rgb(204, 218, 218);
    height: 20px;
    border-radius: 5px;
    
}
#score-bar{
    position: relative;
    background-color: rgb(26, 88, 223);
    height: 20px;
    border-radius: 5px;
}


/* found words */
#found{
    position: fixed;
    border-radius: 10px;
    outline: outset 5px white;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 800px;
    z-index: 1;
    
    background-color: #36364d;
}


#found-header{
    text-align: center;
    height: 150px;
    
}

#found-words{
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 500px;
    width: 80%;
    outline: solid 2px;
    outline-color: rgb(253, 253, 253);

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}


#found-words::-webkit-scrollbar {
    display: none;
}

.foundWord{

}

.foundWord-letterHeader{
    left: 20px;
    font-size: 30px;
    text-decoration: underline;
    
}

.foundWord-words{
    left: 50px;
    font-size: 20px;
}

.foundWord-missing{
    left: 50px;
    font-style: italic;
    font-size: 20px;
}

#found-exit{
    text-align: center;
}

/* LINE */
#line{
    position: absolute;
}

/* index-selector */
#index-selector-box{
    position: absolute;
    right: 0px;
    top: 0px;
    user-select: none;
}
#index-selector{
    position: relative;
    top: -3px;
    font-size: 30px;
    height: 40px;
    width: 200px;
    color: aliceblue;
    background-color: rgb(24, 4, 114);
    border-radius: 10px;
    z-index: 0;
}


/* BROWSER */
#browser{
    position: relative;
    user-select: none;
    text-align: center;
}
#browser-tiles{
    position: relative;
    left: 10%;
    width: 80%;
}

.browserTile{
    --tileHeight: 180px;
    --tileWidth: 370px;
    position: relative;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    margin: 10px;
}
.browserTile:hover{
    filter: brightness(1.1) drop-shadow(0px 0px 5px var(--color2));
}

.browserTile #content{

    position: relative;
    width: var(--tileWidth);
    height: var(--tileHeight);

    border: dashed darkgoldenrod 5px;
    padding: 5px;
    border-radius: 20px;

    text-align: left;

    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}

.browserTile #content::-webkit-scrollbar {
    display: none;
}



.browserTile #type{
    position: relative;
    
    font-size: 30px;
}

.browserTile #name{
    position: relative;

    font-size: 20px;
    line-height: 20px;
}
.browserTile #author{
    position: relative;
    font-style: italic;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.browserTile .difficultyStar{
    position: relative;
    top: -10px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    display: inline-block;

}

.browserTile #size{
    position: absolute;
    top: 20px;
    right: 10px;
    
}

.browserTile #scoreTitle{
    position: relative;
    font-size: 20px;
    line-height: 20px;
    margin: 1px;
    display: inline-block;
    top: -4px;

}
.browserTile #score{
    position: relative;
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    text-align: left;
    border-radius: 5px;
    display: inline-block;
}
.browserTile #score #percent{
    position: relative;
    color: var(--font-color-ondark);
    z-index: 12;
    
    
}
.browserTile #score #barEmpty{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color9);
    border-radius: 5px;
    border: solid black 1px;
    z-index: 10;
    background-image: url("./images/line.svg");
    

}
.browserTile #score #barFull{
    position: absolute;
    height: 100%;
    background-color: var(--color2);
    border-radius: 5px;
    border: solid black 1px;
    z-index: 11;
    
}

.previewTile{
    background-color: var(--color1);
    color: var(--font-color-ondark);
    font-size: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    border-radius: 5px;
    margin: 2px;
}
.previewTileRow{
    height: 22px
}


#browser-tiles .weekly #content{
    border: var(--color2) solid 5px;
    background-color: var(--color8);
    color: black;
}

#browser-tiles .casual #content{
    border: var(--color3) dotted 5px;
    background-color: var(--color6);
    color: black;
}

#browser-tiles .special #content{
    border: var(--color8) dashed 3px;
    background-color: purple;
    color: var(--font-color-ondark);
}

#browser-tiles .shared #content{
    border: var(--color2) dashed 3px;
    background-color: var(--color9);
    color: black;
}


/*date and locks*/
.browserTile #date{
    position: absolute;
    font-size: 20px;
    z-index: 10;
    color: var(--font-color-ondark);
}

#browser-tiles .notStarted #content{
    filter: brightness(0.5);
}

.notStarted #date{
    top: 10px;
    line-height: var(--tileHeight);
    width: var(--tileWidth);
    background-image: url("./images/hourglass.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--tileHeight);
    text-align: center;
    font-size: calc(var(--tileHeight)/4);

}

#browser-tiles .ended #content{
    filter: brightness(0.5);
}
.ended #date{
    top: 10px;
    line-height: var(--tileHeight);
    width: var(--tileWidth);
    background-image: url("./images/lock.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--tileHeight);
    text-align: center;
    font-size: calc(var(--tileHeight)/4);

}
#browser-tiles .active{

}
.active #date{
    top: 0px;
    right: 0px;
    margin-top: 3px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: var(--color1);
}


.seeResultButton{
    position: absolute;
    left: 5px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    z-index: 50;
}


.disabled{
    filter: invert(1);
    
}



