
:root{

    --about-headerFontSize: calc(min(50px,8vw));
    --about-fontSize: calc(min(20px,3vw));

}

#about{
    margin: 0;
    padding: 1vw;
    padding-bottom: 10vh;
    margin-top: 2vh;
    overflow: auto;
    height: 90vh;
}

#about h1{
    width: fit-content;

    margin: 2px;
    padding: 2px;
    font-size: var(--about-headerFontSize);
    line-height: var(--about-headerFontSize);

    border-bottom: solid var(--color3) 5px;
    border-left: solid var(--color3) 5px;
    border-top: solid transparent 5px;
    border-right: solid transparent 5px;
    user-select: none;
}


#about{
    font-size: var(--about-fontSize);
    line-height: var(--about-fontSize);
}

#about .image{
    position: relative;
    margin: 10px;
    border: 1px solid var(--color3);
}

#about a:visited{
    color: rgb(97, 176, 245);
}

#about a{
    text-decoration: underline;
    color: rgb(97, 176, 245);
}

#about a:hover{
    color: rgb(122, 191, 252);
    filter: drop-shadow(0px 0px .2px rgb(0, 136, 255));
}