:root{
    --game-cellSize: 90px;
    --game-spacesBetweenCells: 3%;
    /* --game-fontSize: 60px; */
    /* --game-smallFontSize: 30px; */
    --found-headerFontSize: 40px;
    --found-fontSize: 20px;


    --game-scoreBarHeight: 30px;
    --game-scoreBarWidth: 300px;

    --board-dimensions:calc(min(600px,90vw));
    --boardSize: 5;

}
[hidden] { display: none !important; }

/* GAME */
#game{
    position: relative;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: fit-content; */

}

/* board */
#board-box{
    position: relative;
    margin-top: 40px;

}
#board-box #rotate{
    display: inline-flex;
    position: absolute;
    right:1%;
    top: -13%;

    background: none;
    border: none;
    height: 10%;
    width: 10%;
    padding: 0;
}
#board-box #rotate svg{
    font-size: 440%;
}
#board-box #rotate svg:hover{
    filter: drop-shadow(0px 0px 5px var(--color5));

}


#board{
    touch-action: none;
    user-select: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: var(--game-spacesBetweenCells);
    
    width: var(--board-dimensions);
    height: var(--board-dimensions);
    /* rotate transition */
    transition: transform 0.5s cubic-bezier(.52,.27,.17,1.41);
    
}
#board .cell{
    /* filter: drop-shadow(5px 5px 3px #36364d); */
    
    transition: inherit;
    position: relative;
    width: 100%;
    height: 100%;
    /* width: var(--game-cellSize); */
    /* height: var(--game-cellSize); */
    /* margin: var(--game-spacesBetweenCells); */
    /* transition: transform 0.5s; */
    
}
.cell .boardButton{
    position: relative;
    height: 100%;
    width:  100%;

    box-shadow: 5px 5px 3px #36364d;


    border-radius: calc(var(--board-dimensions)/(var(--boardSize)*10));

    background-color: rgb(70, 68, 68);
    color: white;
    
    transition: transform 0.1s ease-out;
    transition: background-color 0.1s ease;

}
.cell .allWereFound{
    background: radial-gradient(#2b2b3d 0%,#181926 50%,#12121b );
    box-shadow: 5px 5px 5px -3px #212130;
    transform: scale(96%);
    /* --darker-border:rgb(38, 38, 38);
    border-top:  var(--darker-border) 6px inset;
    border-left: var(--darker-border) 6px inset; */
    color: white;
    z-index: 0;
}
.boardButton .button-letter{

    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    height: 100%;

    color: rgb(255, 255, 255);
}
.cell .selected{
    transition: transform 0.1s ease;
    background: gray;
    /* border-radius: 9px; */
    transform: scale(0.95);

}
.boardButton .button-start{
    position: absolute;
    right: 5%;
    top: 0%;
    font-size: 45%;   
    color: red;
}
.boardButton .button-use{
    position: absolute;
    bottom: 0%;
    left: 5%;
    font-size: 45%;
    color: green;
}

.cell .hitbox{
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: calc(var(--board-dimensions)/(var(--boardSize)));
    z-index: 100;
}

/* output */
#output{
    position: relative;
    margin-left: auto;
    margin-right: auto;

    height: 40px;
    line-height: 40px;
    padding: 10px;
    font-size: calc(var(--board-dimensions)/10);
}

/* score */
#game #score{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: calc(var(--board-dimensions)/15);
    user-select: none;
    
    /* width: calc(min(600px,90vw)); */
    width: (var(--board-dimensions)/2);
}
#game #score:hover{
    filter: drop-shadow(0px 0px 5px var(--color8));
}
#score-bar-background{
    position: relative;
    width: calc(var(--board-dimensions)/2);
    height: var(--game-scoreBarHeight);
    margin-left: auto;
    margin-right: auto;

    border-radius: 5px;
    background-color: rgb(204, 218, 218);

    
}
#score-bar{
    position: relative;
    height: var(--game-scoreBarHeight);

    background-color: rgb(26, 88, 223);
    border-radius: 5px;
    transition: width 0.5s ease;
}


/* found words */
#found{
    position: fixed;
    left: 5vw;
    top: 5vh;
    width: 90vw;
    height: 90vh;
    
    border-bottom: solid var(--color3) 3px;
    border-left: solid var(--color3) 3px;
    border-radius: 10px;
    background-image: linear-gradient(to right, black , rgb(4, 0, 41), black);

    z-index: 50;
    user-select: none;
}


#found-header{
    position: relative;
    text-align: center;
    line-height: 50px;
    font-size: calc(var(--board-dimensions)/10);
    padding: 30px;
}

#found-words{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 70%;

    padding: 10px;
    outline: solid 2px;
    outline-color: var(--color9);
    
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


#found-words::-webkit-scrollbar {
    display: none;
}
/* 
.foundWord{

} */

.foundWord-letterHeader{
    position: relative;
    font-size: calc(var(--board-dimensions)/20);
    line-height: calc(var(--board-dimensions)/20);

    width: fit-content;
    height: fit-content;
}

.foundWord-words{
    position: relative;
    width: fit-content;
    height: fit-content;

    color: white;

    font-size: calc(var(--board-dimensions)/20);
    line-height: calc(var(--board-dimensions)/20);

    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: calc(var(--board-dimensions)/20);

    display: inline-block;
}
.foundWord-words:visited{
    color:rgb(202, 202, 202);
}

.notFound{
    text-decoration: underline;
    text-decoration-style: dotted;
    color: rgb(255, 138, 138);
}

.foundWord-words:hover{
    background-color: var(--color8);
    color: var(--font-color-onlight);
    text-decoration: underline;
    
}

.foundWord-missing{
    position: relative;

    font-style: italic;
    font-size: calc(var(--board-dimensions)/20);

    display: block;
}

#found-exit{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;

    font-size: calc(var(--board-dimensions)/20);
    font-size: calc(var(--board-dimensions)/20);
    text-align: center;
    
    padding: 10px;
    border-radius: 5px;
    border: solid var(--color9) 2px;
    
    background-color: var(--color2);
    color: var(--font-color-ondark);
}

#found-exit:hover{
    filter: brightness(1.1);
}

.found-words-line{
    position: relative;
    margin: 5px;
    border: dashed var(--color9) 1px;
}

/* LINE */
#line{
    position: absolute;
    top: 0px;
    left: 0px;
}

#line .lineSegment{
    position: absolute;
    height: 0px;


    
    background-color:rgb(20, 218, 218, 0.5);
    --lineSize: calc(var(--board-dimensions)/(var(--boardSize)*10));
    border: var(--lineSize) solid rgba(8, 56, 56, 0.1);
    /* outline: 10px white solid; */
    
    border-radius: var(--lineSize);
    z-index: 2;
}


.disabled .boardButton{
    background-image: url("../images/lock.svg");
    background-repeat: no-repeat;
    background-size: 20%;
}







/* HINTS */

#game .hint{
    position: absolute;
    width: var(--game-scoreBarHeight);
    height: var(--game-scoreBarHeight);
    left: 0%;
    top: 0%;
    transform: scale(1);

    transition: opacity 1s ease, transform 1s ease;

    z-index: 2;
}


/* score plus animation */

#score-points *{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

/* particles */
#particles{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    user-select: none;
    overflow: hidden;
    pointer-events: none;

    opacity: 1;
}

.plusPoints{
    font-size: calc(var(--board-dimensions)/15);
}

.mouseParticle1{
    font-size: 30px;

    filter: drop-shadow(0px 0px 10px white)
}
.mouseParticle2{
    font-size: 20px;
    transform: rotateZ(50deg);
}
