
:root{
    --guide-h1FontSize: 70px;
    --guide-h2FontSize: 50px;
    --guide-fontSize: 20px;

}

#guide{
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    user-select: none;
}

#guide h1{
    width: fit-content;

    margin: 2px;
    padding: 2px;
    font-size: var(--guide-h1FontSize);
    line-height: var(--guide-h1FontSize);

    border-bottom: solid var(--color3) 5px;
    border-left: solid var(--color3) 5px;
}

#guide h2{
    width: fit-content;

    margin: 2px;
    padding: 2px;
    font-size: var(--guide-h2FontSize);
    line-height: var(--guide-h2FontSize);

    border-bottom: solid var(--color3) 3px;
    border-left: solid var(--color3) 3px;

}

#guide{
    font-size: var(--guide-fontSize);
    line-height: var(--guide-fontSize);
}

#guide .guide-image{
    position: relative;
    margin: 10px;

    width: calc(min(80vw,100%));
    border: 1px solid var(--color3);
    
}

#guide li{
    list-style: none;
}

#guide li::before {
    position: relative;
    top: calc(var(--news-bigIconSize)/4);
    height: var(--news-bigIconSize);
    width: var(--news-bigIconSize);
    margin-right: 5px;

    content: '';
    
    background-image: url("../images/plus.svg");
    background-size: calc(var(--news-bigIconSize));
    background-repeat: no-repeat;

    display: inline-block;
    z-index: 50;

    filter: invert(1);
}

#guide .hintTimesStarting::before {
    background-image: url("../images/race_flag.svg");
}
#guide .hintTimesIncluded::before {
    background-image: url("../images/hashtag.svg");
}
#guide .hintRandomLetters::before {
    background-image: url("../images/magnifying_glass.svg");
}