
:root{
    --guide-h1FontSize: calc(min(50px,10vw));
    --guide-h2FontSize: calc(min(35px,6vw));
    --guide-fontSize: calc(min(20px,3vw));

}

#guide{
    user-select: none;
    padding: 3vw;
    margin-top: 2vh;
    overflow: auto;
    max-height: 90vh;
}

#guide h1{
    width: fit-content;

    margin: 2px;
    padding: 2px;
    font-size: var(--guide-h1FontSize);
    line-height: var(--guide-h1FontSize);

    border-bottom: solid var(--color3) 5px;
    border-left: solid var(--color3) 5px;
    border-top: solid transparent 5px;
    border-right: solid transparent 5px;
}

#guide h2{
    width: fit-content;
    margin: 2px;
    margin-top: 2vh;
    padding: 2px;
    font-size: var(--guide-h2FontSize);
    line-height: var(--guide-h2FontSize);

    border-bottom: solid var(--color3) 3px;
    border-left: solid var(--color3) 3px;
    border-top: solid transparent 3px;
    border-right: solid transparent 3px;

}

#guide{
    font-size: var(--guide-fontSize);
    line-height: var(--guide-fontSize);
    text-align: justify;
}
#guide p{
    line-height: calc(var(--guide-fontSize)*1.5);
    text-align: justify;
}

#guide .guide-image{
    position: relative;
    margin: 10px;

    width: calc(min(80vw,100%));
    border: 1px solid var(--color3);
    
}

#guide li{

}
#guide .hint{
    list-style: none;
}
#guide .hint::before {
    position: relative;
    left: calc(var(--news-bigIconSize)/(-4));
    top: calc(var(--news-bigIconSize)/4);
    height: var(--news-bigIconSize);
    width: var(--news-bigIconSize);
    margin: 5px;



    content: '';
    
    background-image: url("../images/plus.svg");
    background-size: calc(var(--news-bigIconSize));
    background-repeat: no-repeat;

    display: inline-block;
    z-index: 50;

    filter: invert(1);
}

#guide .hintTimesStarting::before {
    background-image: url("../images/race_flag.svg");
}
#guide .hintTimesIncluded::before {
    background-image: url("../images/hashtag.svg");
}
#guide .hintRandomLetters::before {
    background-image: url("../images/magnifying_glass.svg");
}