:root{
    color-scheme:light dark;


    /*COLOR PALLETE*/
    --color0: #000124;
    --color1: #03045E;
    --color2: #023E8A;
    --color3: #0077B6;
    --color4: #0096C7;
    --color5: #00B4D8;
    --color6: #48CAE4;
    --color7: #90E0EF;
    --color8: #ADE8F4;
    --color9: #CAF0F8;
    --font-color-ondark:white;
    --font-color-onlight:black;

    --menu-height: 60px;
    --title-height: 50px;
}

/* BASIC LOOK */

body{
    background-color: black;
    background-image: linear-gradient(to right,rgb(8, 8, 6), rgb(9, 14, 31),rgb(8, 8, 6) );

    color: white;
    
    font-family: 'Poppins', sans-serif;
    
    font-size: 40px;
    
}

body::-webkit-scrollbar {
    display: none;
}


svg {
    width: 1em;
    height: 1em;
}
/* HEADER */

#title-header{
    display: flex;
    justify-content: center;
    /* Cool border not cool enough :( */
    /* border-bottom: solid var(--color3) 5px;
    border-left: solid var(--color3) 5px; */
    font-size: 1.3rem;
}
#title-header .header-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0.12em clamp(0.1em,5vw,1em) 0.2em;

    width: 100%;
    margin: 0 auto;
}
#title{
    font-size: calc(min(180%,5vw));
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--color6), var(--color8));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-decoration: none;
}

#title-header .header-group{
    display: flex;
    position: relative;
}
.header-group .icon{
    display: inline-flex;
    padding: 0px;
    color: inherit;
    background: inherit;
    border: none;
    font: inherit;

}
.header-group .icon:not(:first-child){
    margin-left: 1.2em;

}
.icon svg{
    font-size: 200%;
}

#title-header .icon:hover{
    filter: drop-shadow(0px 0px 5px var(--color5));
}


/* MENU */

#menu{
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow-x: auto;
    scrollbar-width: 0px;

    text-align: center;


    background-image: linear-gradient(to right, rgb(19, 18, 18), rgb(20, 31, 34), rgb(14, 12, 12));

    z-index: 101;
    transition: all 0.1s ease;
    user-select: none;

}

.menuOpen{
    width: 350px;
    max-width: 70vw;
}

.menuClosed{
    width: 0px;
}


.menu-button{
    position: relative;
    width: 90%;
    
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 1vh;

    font-size: 30px;
    line-height: 30px;
    color: aliceblue;

    border-bottom: var(--color3) 2px solid;
    text-align: center;

    display: inline-block;
}

.menu-button:hover{
    filter: drop-shadow(0px 0px 3px white);
}

.selectedTab-button{
    filter: brightness(1.6);
    filter: drop-shadow(5px 0px 3px rgb(4, 55, 224));
}

a:visited{
    text-decoration: none;
}
a{
    text-decoration: none;
}

#version{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    font-size: 20px;
    user-select: none;
    display: inline-block;
}
#version:hover{
    filter: drop-shadow(0px 0px 3px white);
}

#darkenScreen{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    user-select: none;
    pointer-events: none;

    z-index: 100;
}



