
:root{
    /*COLOR PALLETE*/
    --color0: #000124;
    --color1: #03045E;
    --color2: #023E8A;
    --color3: #0077B6;
    --color4: #0096C7;
    --color5: #00B4D8;
    --color6: #48CAE4;
    --color7: #90E0EF;
    --color8: #ADE8F4;
    --color9: #CAF0F8;
    --font-color-ondark:white;
    --font-color-onlight:black;

    --menu-height: 60px;
    --title-height: 50px;
}

/* BASIC LOOK */

body{
    background-color: black;
    background-image: linear-gradient(to right,rgb(8, 8, 6), rgb(9, 14, 31),rgb(8, 8, 6) );

    color: white;
    
    font-family: 'Poppins', sans-serif;
    
    font-size: 40px;
    

    


    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    

}

body::-webkit-scrollbar {
    display: none;
}

/* TITLE */




/* TITLE HEADER */

#title-header{
    height: fit-content;
    display: flex;
    user-select: none;
}

#title{
    position: relative;
    width: fit-content;
    text-align: center;
    flex: 100;
}

#main-header{
    position: relative;
    width: fit-content;

    margin: 0px !important;
    text-align: center;
    font-size: calc(min(7vw,5vh));
    line-height: calc(min(7.5vw,5.5vh));
    vertical-align: top;
    
    height: fit-content;
    width: fit-content;

    background: -webkit-linear-gradient(var(--color8), var(--color6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    z-index: 1;
    user-select: none;

    filter: drop-shadow(5px 5px 3px #36364d);

    display: inline-block;
    
}
#openMenu{
    /* position: absolute;
    top: 0px;
    left: 0px; */

    height: var(--title-height);
    width: var(--title-height);

    max-width: calc(5vw);
    max-height: calc(5vw);

    margin: calc(var(--title-height)/5);
    flex: 1;
}
#share{
    /* position: absolute;
    right: 0px;
    top: 0px; */
    height: var(--title-height);
    width: var(--title-height);
    max-width: calc(5vw);
    max-height: calc(5vw);

    margin: calc(var(--title-height)/5);
    flex: 1;
}
#share:hover{
    filter: drop-shadow(0px 0px 5px var(--color5));
}
#goto-settings{
    height: var(--title-height);
    width: var(--title-height);

    max-width: calc(5vw);
    max-height: calc(5vw);

    margin: calc(var(--title-height)/5);
    flex: 1;
}

.balancer{
    visibility: hidden;
    height: var(--title-height);
    width: var(--title-height);

    margin: calc(var(--title-height)/5);
    flex: 1;

    max-width: calc(5vw);
    max-height: calc(5vw);

    user-select: none;
    pointer-events: none;
}
/* MENU */

#menu{
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow-x: auto;
    scrollbar-width: 0px;

    text-align: center;


    background-image: linear-gradient(to right, rgb(19, 18, 18), rgb(20, 31, 34), rgb(14, 12, 12));

    z-index: 101;
    transition: all 0.1s ease;
    user-select: none;

}

.menuOpen{
    width: 350px;
    max-width: 70vw;
}

.menuClosed{
    width: 0px;
}


.menu-button{
    position: relative;
    width: 90%;
    
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 1vh;

    font-size: 30px;
    line-height: 30px;
    color: aliceblue;

    border-bottom: var(--color3) 2px solid;
    text-align: center;

    display: inline-block;
}

.menu-button:hover{
    filter: drop-shadow(0px 0px 3px white);
}

.selectedTab-button{
    filter: brightness(1.6);
    filter: drop-shadow(5px 0px 3px rgb(4, 55, 224));
}

a:visited{
    text-decoration: none;
}
a{
    text-decoration: none;
}

#version{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    font-size: 20px;
    user-select: none;
    display: inline-block;
}
#version:hover{
    filter: drop-shadow(0px 0px 3px white);
}

#darkenScreen{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    user-select: none;
    pointer-events: none;

    z-index: 100;
}



