
:root{
    --news-bigHeaderSize: calc(min(40px,6vw));
    --news-smallHeaderSize: calc(min(20px,4vw));
    --news-textSize: calc(min(20px,4vw));
    --news-bigIconSize: var(--news-bigHeaderSize);
    --news-smallIconSize: var(--news-textSize);
    --news-borderWidth: calc(var(--news-textSize)/5);
}

#news{
    position: relative;
    padding: 2vw;
    margin-top: 0vh;
    height: 90vh;
    overflow: auto;
}

.message{
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: 2vw;
    padding: 1vw;
    
    user-select: none;

    border-bottom: var(--news-borderWidth) var(--color3) solid;
    border-left: var(--news-borderWidth) var(--color3) solid;
    border-top: var(--news-borderWidth) transparent solid;
    border-right: var(--news-borderWidth) transparent solid;
}

.message h1{
    position: relative;
    height: fit-content;
    width: fit-content;

    padding: 5px;
    margin: 0px;

    font-size: var(--news-bigHeaderSize);
    line-height: var(--news-bigHeaderSize);

    border-left: var(--news-borderWidth) transparent solid;
    border-right: var(--news-borderWidth) transparent solid;
    border-bottom: var(--news-borderWidth) var(--color3) solid;
    
}

.message h2{
    position: relative;
    height: var(--news-smallHeaderSize);
    width: fit-content;

    padding: 0.1vw;
    margin: 0px;

    font-size: var(--news-smallHeaderSize);
    line-height: var(--news-smallHeaderSize);
}

.message ul{
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: 1vw;
    padding: 1vw;
   
}
/*
news types
    bigChange
    smallChange

    newFeature
    bugFix
    pageLook
    gameMechanics
    newContent
    editorChange
    menuChange
    badNews

*/

.message li{
    list-style: none;
    font-size: var(--news-textSize);
    line-height: var(--news-textSize);
}
.message .smallChange{
    font-size: calc(var(--news-textSize));
    line-height: calc(var(--news-textSize));
}
.message .bigChange{
    font-size: var(--news-textSize);
    line-height: var(--news-textSize);
}

.message li::before {
    position: relative;
    top: calc(var(--news-bigIconSize)/4);
    height: var(--news-bigIconSize);
    width: var(--news-bigIconSize);
    margin-right: 5px;

    content: '';
    
    background-image: url("../images/plus.svg");
    background-size: calc(var(--news-bigIconSize));
    background-repeat: no-repeat;

    display: inline-block;
    z-index: 50;
}

.message .smallChange::before {
    background-size: calc(var(--news-smallIconSize));
    background-position-x: calc((var(--news-bigIconSize) - var(--news-smallIconSize))/2);
    background-position-y: calc((var(--news-bigIconSize) - var(--news-smallIconSize))/2);
}
.message .bigChange::before {
    background-size: calc(var(--news-bigIconSize));
}






.message ul .bugFix::before {
    background-image: url("../images/tick.svg");
}
.message ul .pageLook::before {
    background-image: url("../images/funny_glasses.svg");
}
.message ul .gameMechanics::before {
    background-image: url("../images/cogs.svg");
}
.message ul .newContent::before {
    background-image: url("../images/folder.svg");
}
.message ul .editorChange::before {
    background-image: url("../images/cogs.svg");
    filter: invert(1);
}
.message ul .menuChange::before {
    background-image: url("../images/list.svg");
}
.message ul .newFeature::before {
    background-image: url("../images/star.svg");
}

.message ul .badNews::before {
    background-image: url("../images/delete.svg");
}
  