
:root{
    --settings-sectionHeaderFontSize: 30px;
    --settings-fontSize: calc(min(30px,8vw));

    --settings-checkboxSize: calc(min(60px,8vw));/* width */
    --settings-sliderSize: calc(min(30px,4vw));/* height */
    --settings-selectSize: 30px
}


#settings{
    position: relative;

    margin: 1vw;
    padding: 1vw;


    user-select: none;
    
    z-index: 1;
}

#settings .text{
    position: relative;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;

    font-size: var(--settings-fontSize);
    line-height: var(--settings-fontSize);

    display: inline-block;
}
/* SECTIONS */

#settings .settingsSection{
    position: relative;
    height: calc(var(--settings-sectionHeaderFontSize)*2);
    width: 80vw;

    margin: 1vw;
    padding: 0.1vw;

    /* border: solid 5px white;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, var(--color2) , var(--color1)); */

    border-bottom: solid var(--color3) 5px;
    border-left: solid var(--color3) 5px;
    border-top: solid transparent 5px;
    border-right: solid transparent 5px;

    font-size: var(--settings-sectionHeaderFontSize);
    display: block;

    transition: all 0.1s ease-in, height 0.4s ease-out, border-width 0.1s ease-in;

    overflow: hidden;
}
#settings .settingsSection h1{
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: var(--settings-sectionHeaderFontSize);
    line-height: calc(var(--settings-sectionHeaderFontSize)*2.1);
    vertical-align: middle;
}

#settings .opened{
    height: 50vh;



    border-top: solid var(--color3) 5px;
    border-right: solid var(--color3) 5px;
    border-bottom: solid transparent  5px;
    border-left: solid transparent  5px;
}

#settings .settingsInput{
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    display: block;
}

/* CHECK BOX */
#settings .checkbox{
    position: relative;
    height: fit-content;
    width: fit-content;

    display: block;
}

#settings .checkbox input{
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;

   
}

/* not checked */
#settings .checkbox .checkmark{
    position: relative;
    top: 0;
    left: 0;
    vertical-align: middle;

    height: calc(var(--settings-checkboxSize)/2);
    width: var(--settings-checkboxSize);

    border-radius: var(--settings-checkboxSize);

    background-color: rgb(190, 190, 190);

    display: inline-block;
    transition: all 0.1s ease;
}


#settings .checkbox .checkmark::after{
    content: '';
    position: relative;
    top: 0;
    left: 0;

    height: calc(var(--settings-checkboxSize)/2);
    width: calc(var(--settings-checkboxSize)/2);

    background-color: rgb(252, 252, 252);
    border-radius: calc(var(--settings-checkboxSize)/3);
    display: block;

    transition: all 0.1s ease;
    
}
/* checked */
#settings .checkbox input:checked ~ .checkmark{
    background-color: var(--color5);
}


#settings .checkbox input:checked ~ .checkmark::after{
    left: calc(var(--settings-checkboxSize)/2);
}
/* hover */
#settings .checkbox:hover .checkmark::after{
    filter: drop-shadow(0px 0px 5px white);
}

/* SLIDER (RANGE) */
#settings .slider input{
    appearance: none;
    position: relative;
    vertical-align: middle;
    

    height: var(--settings-sliderSize);
    border-radius: calc(var(--settings-sliderSize)/2);

    background-color: antiquewhite;

    transition: all 0.1s ease;

    z-index: 10;

    display: inline-block;
}

#settings .slider input::-webkit-slider-thumb {
    appearance: none;
    position: relative;
    vertical-align: middle;

    margin: 0;

    width: var(--settings-sliderSize);
    height: var(--settings-sliderSize);

    border-radius: calc(var(--settings-sliderSize)/2);

    background-color: var(--color5);

    z-index: 12;

    
}
#settings .slider input::after{
    content: 'max';
    position: absolute;
    right: calc(var(--settings-sliderSize)/10);


    font-size: calc(var(--settings-sliderSize)/1.2);
    line-height: var(--settings-sliderSize);


    background: -webkit-linear-gradient(var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    user-select: none;
    pointer-events: none;
    z-index: 13;
}

#settings .slider input::before{
    content: 'min';
    position: absolute;
    left: calc(var(--settings-sliderSize)/10);
    

    font-size: calc(var(--settings-sliderSize)/1.2);
    line-height: var(--settings-sliderSize);

    background: -webkit-linear-gradient(var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    user-select: none;
    pointer-events: none;
    z-index: 13;
}

/* SELECT FROM OPTIONS */

#settings .select .options{
    position: relative;
    padding: 1px;
    display: block;
}

#settings .select .options .option{
    position: relative;
    padding: 1px;
    margin-left: 5px;
    width: fit-content;
    height: var(--settings-selectSize);
    font-size: var(--settings-selectSize);
    line-height: var(--settings-selectSize);
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}
#settings .select .options .selectedOption{
    outline: 1px white solid;
}



#settings .colorPicker{
    position: relative;
    height: fit-content;
    width: fit-content;

    display: block;
}

#settings .colorPicker input{
    position: relative;
    vertical-align: middle;
    height: calc(var(--settings-fontSize)/1.5);
    width: calc(var(--settings-fontSize)/1.5);

    display: inline-block;
}



#settings .slider{

}