:root{
    --statBoxHeight: 300px;
    --statBoxWidth: 80%;
    --stats-titleFontSize: calc(min(30px,3vh));
    --stats-fontSize: 20px;

}

#stats h1{

    font-size: var(--stats-titleFontSize);
    line-height: calc(var(--stats-titleFontSize)*2);
    margin: 5px;
    padding: 0px;
    user-select: none;
}
#stats{
    height: fit-content;

    margin-top: 2vh;
    
    overflow: auto;
    max-height: 90vh;

}

#stats .statBox{
    position: relative;
    height: calc(var(--stats-titleFontSize)*2);
    width: var(--statBoxWidth);

    margin: 10px;
    padding: 10px;

    /* border: solid 5px white;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, var(--color2) , var(--color1)); */

    border-bottom: solid var(--color3) 5px;
    border-left: solid var(--color3) 5px;
    border-top: solid transparent 5px;
    border-right: solid transparent 5px;

    font-size: var(--stats-fontSize);
    display: block;

    transition: all 0.1s ease-in, height 0.4s ease-out, border-width 0.1s ease-in;

    overflow: hidden;
}
#stats .opened{
    position: relative;
    height: var(--statBoxHeight);

    margin: 10px;

    border-top: solid var(--color3) 5px;
    border-right: solid var(--color3) 5px;
    border-bottom: solid transparent  5px;
    border-left: solid transparent  5px;
    

    font-size: var(--stats-fontSize);
    display: block;
    
}

.statBox .played{
    width: fit-content;
}

.statBox .completed{
    width: fit-content;
}

.statBox .totalScore{
    width: fit-content;
}

.statBox .totalWordsFound{
    width: fit-content;
}

.statBox .totalBonusWordsFound{
    width: fit-content;
}

.statBox:hover{

}

