
body{
    background-image: url(../images/techno.jpg);
    background-size: 100%;

    color: white;
    font-family: 'Roboto', sans-serif;

    overflow: auto;
}

/* background-color: rgba(80, 175, 175, 0.3);
    border-radius: 10px;
    border: solid 5px gray;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;  */

#menu{
    text-align: center;
}

#menu button{
    position: relative;
    display: inline-block;
}
#menu .selected-tab-button{
    filter: hue-rotate(100deg) brightness(0.7);
    transform: scale(0.95);
}

#squardleLoader{
    position: relative;
    width: fit-content;

    padding: 5px;
    margin: 5px;
    border: 2px solid #fdfdfd ;

    flex: 1;  
}

#content{
    resize: both;
    display: flex;
    height: 87vh;
}
#squardleEditor{
    position: relative;

    resize: horizontal;
    min-width: 20%;


    padding: 5px 15px;
    margin: 10px;

    background-color: rgba(40, 104, 104, 0.5);
    border-radius: 10px;
    border: solid 5px gray;

    overflow: auto;
    /* flex: 1; */
}

#squardleGenerator{
    position: relative;

    overflow: auto;
    padding: 5px 15px;
    margin: 10px;
    min-width: 20%;


    background-color: rgba(96, 102, 38, 0.5);
    border-radius: 10px;
    border: solid 5px gray;
    z-index: 0;



    flex: 1;  
}

#boardInput{
    text-align: center;
}

.detailsSection{
    width: fit-content;
    min-width: 50%;
    border: 2px solid white;
}


textarea{
    position: relative;
    resize: none;
    outline: none;
    top: 5px;
    z-index: 0;
    background-image: linear-gradient(-180deg, #ffffff 0%, #d8d8d8 100%);
}

input[type="text"],input[type="number"]{
    margin: 4px 0;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type="text"]:focus,input[type="number"]:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

legend{
    font-weight: bold;

}
/* .button-1{
    background-image: linear-gradient(-180deg, #e25937 0%, #c81e1e 100%);
    border-radius: .3rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    border: none;
    display: inline-block;
} */
/* COPIED BUTTONS AND STUFF */
.button-tab{
    font-size: 1.3rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 30px;
    border-radius: 4px;
    color: #fff;
    background: #6200ee;
    line-height: 1.15;
    height: 36px;
    word-spacing: 0px;
    letter-spacing: .0892857143em;
    min-width: 200px;
    border: none;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-tab:hover {
    background: rgb(98, 0, 238);
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.button-main{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 8px 20px;
    margin: 2px;
    border: 0;
    color: #fff;
    background: #d64e2b;
    line-height: 1.15;
    font-size: 16px;


 }   
.button-main:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 2.5px #d62b5d;
}


/* .button-1:hover {
    background-image: linear-gradient(-180deg, #c9311d 0%, #9c3617 100%);
} */




#header{
    position: relative;
    top: -5px;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    z-index: 10;
    text-align: center;
    margin: 3px 0;
}
#goto-index{
    position: absolute;
    top: 0px;
    left: 0px;
    /* background-color: rgb(27, 6, 18); */
    background-color: transparent;
    font-size: 50px;
    margin: 5px;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 5px;
    z-index: 20;
    transition: transform 0.1s ease-out;

}
#goto-index:hover{
    transform: scale(1.1);
}
#goto-index:active{
    transform: scale(0.9);
}

a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #37AEE2;
}




#output-button{
    position: relative;
    top: 0%;
}
#output-text{
    width: 70%;
    height: 130px;
    tab-size: 2;
}

.row{
    width: 500px;
    height: 40px;
    
}

.letter{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    
    background-color: rgb(36, 23, 28);
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    border-radius: 10px;
}

#board_table{
    text-align: center;
}



/* EDITOR */
.boardLetter{
    width: 60px;
    height: 60px;
    max-lines: 1;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
}

.boardRow{
    height: 40px;
}

/* LOG */
.output-log{
    width: 80%;
    height: 30%;
    color: #dcdfe4;
    background: #282c34;
    border: 2px grey solid ;
    margin: 10px 0;
}

.word{
    position: relative;
    height: fit-content;
    padding: 4px;
    margin: 2px;

    text-transform: capitalize;
    font-size: 1rem;
    cursor: ew-resize;

    border: 2px black solid;

    flex: 1;
    transition: filter 0.1s ease;


    font-size: 20px;
    color: white;
    border-radius: 7px;
    box-shadow: 0 7px 0px #186d29;
    display: inline-block;
    transition: all .2s;
    position: relative;
    padding: 5px 7px;
    position: relative;
    top: 0;
    margin:5px 2px;
    transition: all .2s;
}

  

.wordToFind{
    --press-amount: 3px;
    --defualt-size:7px;
    background-color: #2bd64e;
    box-shadow: 0 var(--defualt-size) 0px #157c29;
    transition: all 0.15s cubic-bezier(0.755, 0.05, 0.855, 0.06);

}
.wordToFind:active{
    transform: translateY(var(--press-amount));
    box-shadow: 0 calc(var(--defualt-size) - var(--press-amount)) 0px #157c29;
}

.bonusWord{
    --press-amount: 3px;
    --defualt-size:7px;
    background-color: #d6a42b;
    box-shadow: 0 var(--defualt-size) 0px #816117;
    transition: all 0.15s cubic-bezier(0.755, 0.05, 0.855, 0.06);

}
.bonusWord:active{
    transform: translateY(var(--press-amount));
    box-shadow: 0 calc(var(--defualt-size) - var(--press-amount)) 0px #816117;
}



/* .word:hover{
    filter: brightness(0.9);
}
.word:active{
    filter: brightness(0.8);
    transform: scale(0.96);
} */


/* NEW WORD SELECT SYSTEM */
#wordsMoveBox{
    display: flex;
}

.word-box{
    position: relative;
    height: fit-content;

    padding: 1%;
    margin: 1%;

    line-height: 10px;

    border: grey solid 2px;
    border-radius: 2px;

    filter: saturate(0.7);

    flex-flow: wrap;
    display: flex;
}

#wordsToFind{
    flex: 1;

    background-color: #282c34;
}

#bonusWords{
    flex: 1 100px;

    background-color: #282c34;
}



