
body{
    user-select: none;
    background-image: url(../images/techno.jpg);
    background-size: 100%;
    font-size: large;
    color: white;
    font-family: 'Roboto', sans-serif;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

/* background-color: rgba(80, 175, 175, 0.3);
    border-radius: 10px;
    border: solid 5px gray;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;  */

#menu{
    text-align: center;

}

#menu button{
    position: relative;
    display: inline-block;
}

#squardleLoader{
    position: relative;
    width: fit-content;

    padding: 5px;
    margin: 5px;
    border: #fdfdfd solid 1px;

    
}
#squardleEditor{
    position: relative;


    padding: 50px;
    margin: 50px;

    background-color: rgba(80, 175, 175, 0.3);
    border-radius: 10px;
    border: solid 5px gray;

    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    display: block;
}

#squardleGenerator{
    position: relative;

    padding: 50px;
    margin: 50px;


    background-color: rgba(165, 175, 80, 0.3);
    border-radius: 10px;
    border: solid 5px gray;
    z-index: 0;

    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    display: none;
    
}

.detailsSection{
    width: fit-content;


}


textarea{
    position: relative;
    resize: none;
    outline: none;
    top: 5px;
    z-index: 0;
    background-image: linear-gradient(-180deg, #ffffff 0%, #d8d8d8 100%);
}



.button-1{
    background-image: linear-gradient(-180deg, #e25937 0%, #c81e1e 100%);
    border-radius: .3rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    border: none;
    display: inline-block;
}
  

.button-1:hover {
    background-image: linear-gradient(-180deg, #c9311d 0%, #9c3617 100%);
}




#header{
    position: relative;
    top: -5px;
    font-size: 40px;
    z-index: 10;
    text-align: center;
}
#goto-index{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(27, 6, 18);
    font-size: 28px;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    z-index: 20;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #37AEE2;
}



#board{

}

#wordsToFind{

}
#bonusWords{

}
#output-button{
    position: relative;
    top: 0%;
}
#output-text{
    width: 70%;
    height: 130px;
    tab-size: 2;
}

.row{
    width: 500px;
    height: 40px;
    
}

.letter{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    
    background-color: rgb(36, 23, 28);
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    border-radius: 10px;
}

#board_table{
    text-align: center;
}

.word{
    position: relative;
    height: fit-content;
    padding: 5px;
    margin: 1px;

    font-size: 30px;

    border-radius: 10px;
    border: 2px black solid;

    flex: 1;

}

#wordsToFind .word{
    background-color: rgb(11, 212, 11); 
}
#bonusWords .word{
    background-color: rgb(235, 235, 35);
}

.word:hover{
    filter: brightness(1.1);
}


/* EDITOR */
.boardLetter{
    width: 60px;
    height: 60px;
    max-lines: 1;
    font-size: 50px;
    line-height: 50px;
    align-content: center;
    box-sizing: border-box;
}

.boardRow{
    height: 40px;
}

/* LOG */
#log{
    width: 80%;
    height: 30%;   
}



/* NEW WORD SELECT SYSTEM */
#wordsMoveBox{
    display: flex;
}

#wordsToFind{
    position: relative;
    flex: 1;
    height: fit-content;

    padding: 2%;
    margin: 1%;

    line-height: 10px;

    background-color: #163803;
    border: white solid 2px;
    border-radius: 10px;
    
    flex-wrap: column;
    flex-flow: wrap;
    display: flex;
}

#bonusWords{
    position: relative;
    flex: 1;
    height: fit-content;

    padding: 2%;
    margin: 1%;

    line-height: 10px;

    background-color: #751b0b;
    border: white solid 2px;
    border-radius: 10px;
    
    flex-wrap: column;
    flex-flow: wrap;
    display: flex;
}



